.uploadForm {
    width: 40%;
    max-width: 100%;
    padding: 1%;
    margin: 0 auto 20%;
}

.uploadContainer {
    border: 2px solid #111856;
    border-radius: 20px;
    width: 640px;
    height: 400px;
}

.selectBtn {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.nextBtn {
    display: flex;
    justify-content: end;
}