.uploadForm {
    width: 40%;
    max-width: 100%;
    padding: 1%;
    margin: 0 20% 5% 29%;
}

.photoHeader h1{
    font-size: 3rem;
    margin: 0;
}

.photoHeader p{
    font-size: 1.2rem;
}

.uploadContainer {
    border: 2px solid #111856;
    border-radius: 20px;
    width: 640px;
    height: 400px;
}

.selectBtn {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.nextBtn {
    display: flex;
    justify-content: flex-end;
}