.propertyAddress {
    width: 40%;
    max-width: 100%;
    padding: 1%;
    margin: 0 20% 5% 29%;
}

.addressHeader h1{
    font-size: 3rem;
    margin: 0;
}

.addressFields p {
    font-size: 1.1rem;
    text-align: left;
}