.priceForm {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 800px
}

h1,h4 {
    text-align: center;
    color: #121957;
}
.card {
    text-align: center;
    align-items: center;
    border: 1px solid #121957;
    position:static
}
.boxflex {
    display: flex;
    justify-content: center;
    padding-top: 2cm;
  }
.cardActions {
    justify-content: center;
  }


