/* --------------------------------------------------------------------------------
Alignments
-------------------------------------------------------------------------------- */

.loginTitle {
    text-align: center;
}

.loginContent {
display: flex;
justify-content: center;
}