.basicForm {
    text-align: center;
}

.basicForm h1 {
    font-size: 3rem;
    margin: 0;
}

.basicForm p {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 4%;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancelBtn {
    display: flex;
    margin-left: 2%;
}

.nextBtn {
    display: flex;
    margin-right: 2%;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}