.dashboard h2 {
    padding-left: 10px;
}

.bookedProperties {
    width: 90%;
    margin: 4%;
}

.stayGallery {
    border: 1px solid #efefef;
    width: 90%;
    height: 30%;
}

.savedProperties {
    width: 90%;
    margin: 4%;
}

.savedGallery {
    border: 1px solid #efefef;
    width: 90%;
    height: 30%;
}

/* .gallryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

}
.container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 3px;
    width: 400px;
}
/* Img css */
/* .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    object-fit:cover;
} */

/* Property Details  */
/* 
.property-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.property-details .propertyInformation p{
    color: black !important;
    font-weight: 200;
}
.property-details .propertyInformation h4{
    color: black !important;
    font-weight: 500;
}
.propertyInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.propertyInformation > *{
    margin-bottom: -10px;
}

.propertyRatings {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}
.star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}
.star .checked {
    color: orange;
}

@media screen and (max-width: 667px) {
    .gallryContainer {
        flex-direction: column;
    }
} */ 
