/* --------------------------------------------------------------------------------
Alignments
-------------------------------------------------------------------------------- */

.registerTitle {
    text-align: center;
}

.registerContent {
display: flex;
justify-content: center;
}

