.center {
    text-align: center;
font-weight: 550;
font-size: 48px;
line-height: 55px;
color: #000;;
}

.p{
margin-left: 300px;
margin-right: 300px;
padding: 6px;
text-align: center;
border: none;
box-shadow: none;
}

