.sLForm{
    width: 40%;
    max-width: 100%;
    padding: 1%;
    margin: 0 20% 5% 29%;
}

.sLHeader {
    margin-bottom: 2%;
}

.sLHeader h1{
    font-size: 3rem;
    margin: 0;
}

.sLHeader p{
    font-size: 1.1rem;
}

.sLBorder {
    border: 2px solid #111856;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin-left: 80px;
}